@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-font:"Poppins";

    /* color */
    --bg-primary:#000D24;  
    --bg-secondary:#172A4B;
    --primary-color:#8B6130;
    --secondary-color:#BF895A;
    --navbar-bg:#000D24;
    --navbar-text:#7BADFF;   
  
    /* text */
    --text-primary:#f0f0f0;
    --light:300;
    --regular:400;
    --medium:500;
    --semibold:600;

    --border-radius-sm:4px;
    --border-radius-md:8px;
}

a{
    text-decoration: none;
}

body{
    background-color: var(--bg-primary);
    font-family: var(--primary-font);
    background-image: url(assets/texture.jpg);
    background-repeat: repeat;
    color: var(--text-primary);
}

/* navbar */
.logotype{
    height:2rem;
}
.pittogramma{
    height:1.3rem;
}

@media (min-width: 767px){
    .logotype{
        height:auto;
        width: 3.75rem;
    }
    .pittogramma{
        height:1.625rem;
    }
}
    
.navbar{
    background-color: var(--navbar-bg);
    font-family: var(--primary-font);
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0 0 0 / 0.25);
}

.nav-link, .nav-item{
    padding: 8px 16px!important;
    border-radius: var(--border-sm);
}
.navbar-brand{
    display: flex;
    align-items: center;
}

.navbar-nav{
    column-gap: 1.5rem;
}

#navbarSupportedContent {
    transition: all 0.5s ease;
}
#navbarSupportedContent.show {
    top: 0;
}

.cta{
    background-color: var(--navbar-text);
    color: var(--bg-primary);
    border-radius: 20px;
}

/* hero */
.hero {
    background-image:url(assets/banner-home.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-logo{
    max-height: 16rem;
    position: absolute;
    bottom: 30%;
    padding: 2rem;
}

/* PAGE */

.page-section{
    padding: 3rem 0;
}

.page-section-start{
    padding: calc(2.5rem + 80px) 0 3rem;
}

@media (min-width: 1200px){
    .page-section{
        padding: 5rem 0;
    }
    .page-section-start{
        padding: calc(5rem + 80px) 0 5rem;
    }
}

/* tarot */
.card {
    border: none;
}

#tarot .card-container{
    perspective: 1000px;
    justify-content: center;}

#tarot .card{
    transform-style: preserve-3d;
    transition-duration: 0.5s;
    background: transparent;
    width: 350px;

}

#tarot .card:hover{
    transform: rotateY(180deg);
}

#tarot .card img {
    backface-visibility: hidden;

}
#tarot .card img:last-child {
    position: absolute;
    top: 0;
    transform: rotateY(180deg);
}

/* book */


.booking-widget {
    background-color:#10264b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    margin-top: -10rem;
}


.booking-widget input,
.booking-widget select {

    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 0;
    border-radius: 4px;
}
.booking-widget button {
    
    background-color: #06055d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* .booking-widget button:hover {
    background-color: #218838;
} */

form {
    justify-content: space-between;
    flex-wrap: wrap;
}

/* swiper home */

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }